// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Muli&display=swap');

.whitetxt {
	color: white;
	font-size: 20px;
	font-family: 'Hepta Slab', serif;
}

//Beginning of the CSS Code//
/* Set every element's box-sizing to border-box */


*{
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0px auto;
	max-width: 100%;
}

html, body {
	background: skyblue;
	height: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 2%;
}

//CSS for the whole top section//

.navigation {
		max-width: 100%;
		height: 80px;
		

		.nav {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			@media screen and (max-width: 500px){
			flex-direction: column;
		}
			}//closes .nav//

		.nav a {
			text-decoration: none;
			font-size: 25px;
			color: darkslategrey;
			font-family: 'Muli', sans-serif;
			}//closes .nav a//

		.nav a:hover {
			text-decoration: underline;
			}//closes .nav a:hover//
		
		.nav a:visited {
			color: white;
		}

		
} //closes navigation//
@media screen and (max-width: 500px){
	.pictureContainer {
		display.none;
	}
}
.middlesection {
	border: 3px solid black;
	max-width: 100%;
}

.aboutMe {
	height: 300x;
	margin: 0, auto;
	padding: 2%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 25px;
		color: darkslategray;
		font-family: 'Muli', sans-serif;
		margin: 2%;
		padding: 1%;
		flex-flow: row wrap;
		justify-content: center;
	}//closes h2//

	p {
		.whitetxt ();
	}//closes p//
}//closes .aboutMe//

.skills {
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 25px;
		color: darkslategray;
		font-family: 'Muli', sans-serif;
		margin: 2%;
		padding: 1%;

		ul {
		.whitetxt ();
	}//closes ul
	}//closes h2//
}/closes .skills//

.workHistory {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100px;
	margin: 2%;
	box-sizing: border-box;
	
	.experience {
		font-size: 25px;
		color: darkslategray;
		font-family: 'Muli', sans-serif;
		margin: 2%;
		padding: 1%;
	}//closes .experience//

	h4 {
		.whitetxt ();
	}//closes h4//
}//closes .workHistory//




