// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
// variables and mixins
:root {
	--main-text-color: blue;
	--main-bg-color: pink;
}

.center(){
	display:flex;
	justify-content:center;
	align-content: center;
  }
  .border(){
	border: 4px solid teal;
	padding:2%;
  }

html, body {
    height: 100%;
}

* {
	max-width: 700px;
	margin: auto;
	box-sizing: border-box;
  }
  
  
  /*body {
	  min-width: 500px;
  }*/
  
div #header{
	border-radius: 5px;
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	background-color: var(--main-bg-color);
	display: flex;
	nav {
		.border();
		border: 2px solid green;
	}//this closes the nav div
}// this closes the header div

.content {
	.border();
	.center();
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}
  
  #title {
	margin-left: 3%;
  }
  
  #footer {
	height: 50px;
	width: 100%;
	background-color: purple;
	clear: both;
	position: relative;
  }
  
  .left {
	height: 1000px;
	width: 45px;
	background-color: skyblue;
	float: left;
	position: fixed;
  }
  
  .right {
	height: 1000px;
	width: 45px;
	background-color: skyblue;
	float: right;
	position: inherit;
  }
  
  .stuff {
	display: flex;
	.center();
	width: 75%;
	height: 1000px;
  }
  
  p,
  li {
	font-family: 'Cormorant Garamond';
  }
  
  .head {
	font-size: 20px;
  }
  
  #name {
	font-family: Sacramento;
	float: right;
	margin-top: 10px;
	margin-right: 4%;
  }
  
  a {
	color: black;
	text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
	.left,
	.right {
	  display: none;
	}
	.stuff {
	  width: 100%;
	  margin-left: 10px;
	}
  }